In [1]:
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',1500)

In [2]:
df = pd.read_csv("./Scraped-data/testing_reviews.csv")

In [3]:
print(df.isnull().sum())
print(len(pd.unique(df["job_location"])))
print(len(pd.unique(df["company_name"]))) #2.6 for the larger df
# print(len(pd.unique(df["Industry"])))
# print(len(pd.unique(df["Type"])))
# print(len(pd.unique(df["Size"])))
df.columns

company_cons     312
company_info     311
company_name       0
company_pros     311
description        4
job_location     311
job_title          0
outlook          311
post_date          0
rating             0
recommend        311
salary_est      4020
salary_high     4020
salary_low      4020
dtype: int64
265
2646

Index(['company_cons', 'company_info', 'company_name', 'company_pros',
       'description', 'job_location', 'job_title', 'outlook', 'post_date',
       'rating', 'recommend', 'salary_est', 'salary_high', 'salary_low'],
      dtype='object')

In [4]:
df = pd.read_csv("./Scraped-data/reviews.csv")
# df

In [5]:
# print(100*df["salary_est"].isnull().sum()/len(df["salary_est"]),"%")

df = df[(df["company_name"]!="*** ERROR - NO COMPANY LISTED. SEE DESCRIPTION FOR POSSIBLE HINTS *** [XX]") & (df["company_info"].isnull()!=True)]
print((df["company_name"]=="*** ERROR - NO COMPANY LISTED. SEE DESCRIPTION FOR POSSIBLE HINTS *** [XX]").sum())
print(df["company_info"].isnull().sum())
# print(df["company)info"].contains(">").sum())

0
0

In [6]:
df["company_info"] = df["company_info"].apply(eval)
# df["company_info"]

df["company_info"] = pd.Series([dict(i) for i in df["company_info"]])
# df["company_info"]
# df["company_info"].items

In [7]:
df = pd.concat([df.drop('company_info', axis = 1), df["company_info"].apply(pd.Series)], axis = 1)
#C:\Users\mjgol\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' 
# not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
#   result = result.union(other)

In [8]:
# df

In [9]:
df.isnull().sum()
print(len(pd.unique(df["job_location"])))
print(len(pd.unique(df["company_name"]))) #well that isn't a lot 
print(len(pd.unique(df["Industry"])))
print(len(pd.unique(df["Type"])))
print(len(pd.unique(df["Size"])))

df.columns

216
1709
38
463
8

Index(['company_cons', 'company_name', 'company_pros', 'description',
       'job_location', 'job_title', 'outlook', 'post_date', 'rating',
       'recommend', 'salary_est', 'salary_high', 'salary_low', 'Competitors',
       'Founded', 'Headquarters', 'Industry', 'Now known as ', 'Part of ',
       'Revenue', 'Size', 'Type'],
      dtype='object')

In [10]:
for i in np.where(df["Part of "]==""):
    df.loc[i, "Founded"] = df.loc[i,"Type"]
    df.loc[i,"Type"] = df.loc[i,"Industry"]
    df.loc[i,"Industry"] = df.loc[i,"Revenue"]
    df.loc[i,"Revenue"] = df.loc[i,"Competitors"]
    df.loc[i, "Part of "] = np.nan
    df.loc[i,"Competitors"] = np.nan
#     type to founded
#     revenue to industry
#     industry to type
#     competitors to revenue

In [11]:
# df

In [12]:
df.isnull().sum()

company_cons        1
company_name        0
company_pros        0
description         0
job_location        0
job_title           0
outlook             0
post_date           0
rating              0
recommend           0
salary_est          0
salary_high         0
salary_low          0
Competitors      2127
Founded           100
Headquarters       10
Industry           60
Now known as     8473
Part of          8503
Revenue           125
Size                0
Type                0
dtype: int64

In [13]:
df.drop(["Now known as ", "Part of ", "post_date"], axis = 1)

In [14]:
# distinct_df = distinct
#Greentech media data analyst - 	Brooklyn, 061 for HQ

In [15]:
len(df["Type"])

8503

In [16]:
distinct_df = df.drop_duplicates(["company_name", "description", "job_location", "job_title"])
distinct_df = distinct_df.drop(["company_cons", "company_pros", "outlook", "recommend", "Headquarters"], axis = 1)

In [17]:
distinct_df["description"][5]
print(len(distinct_df["job_title"]))
# df[df.C.str.contains("XYZ") == False]
distinct_df = distinct_df[distinct_df["job_title"].str.contains("[Ii]ntern(?!a)")==False] 
len(distinct_df)
#to prevent internal, or international, etc.
#we also don't want internships

1712

1664

In [18]:
desc_col = distinct_df["description"]
desc_col = desc_col.reset_index(drop=True)
desc_col.values
# [re.search("(.{9})years?",i) for i in test.values]
# [re.findall("(.{20}) (YEARS?) (.{20})",i,re.IGNORECASE) for i in test.values]
# [re.findall("(.{20})(B\.?A\.?(?!\w)|B\.?S\.?+)(.{20})",i, re.IGNORECASE) for i in test.values]

##WILL NEED SANITY CHECK ON THIS
##EDUCATION LISTINGS
bachelors = [re.findall("(?<![A-Z])B\.?S\.?c?(?![A-Z])|(?<![A-Z])B\.?A\.?(?![A-Z])|BACHELOR|UNDERGRAD.{0,40} DEGREE|ASSOCIATE'?S?.{20}DEGREE",i, re.IGNORECASE) for i in desc_col.values]
print(len([x for x in bachelors if x]))
masters = [re.findall("(MASTER'?S?.{0,40}DEGREE|GRADUATE.{0,40}DEGREE|(?<![A-Z])M\.?S\.?(?![A-Z]|\sDYNAMICS|,\sDSC)(?!-?~?\s?OFFICE|\sEXCEL|\sWORD|\sACCESS|-?\s?SQL)|ADVANCED?.{0,40}DEGREE)",i,re.IGNORECASE) for i in desc_col.values]
mba = [re.findall("([\s|-|/]MBA[\s|-|/]|[\s|-|/]MBUS[\s|-|/]|[\s|-|/]MBS[\s|-|/]|MASTERS? OF BUSINESS)",i,re.IGNORECASE) for i in desc_col.values]
print(len([x for x in mba if x]))
print(len([x for x in masters if x]))
phd = [re.findall("(PH\.?D|ADVANCED?.{0,40}DEGREE|DOCTORA[TE|L]|POST-?\s?GRADUATE)",i,re.IGNORECASE) for i in desc_col.values]
print(len([x for x in phd if x]))

837
35
693
565

In [20]:
print("Frequency of skills listed for Data Science jobs (1.7k unique postings):")
python = [re.findall("PYTHON",i,re.IGNORECASE) for i in desc_col.values]
print("python",len([x for x in python if x]))
R = [re.findall("[\s,\.\-(\[\\\]R[\s,\.\-)\]\\\]",i,re.IGNORECASE) for i in desc_col.values]
print("R", len([x for x in R if x]))
SQL = [re.findall("SQL",i,re.IGNORECASE) for i in desc_col.values]
print("SQL", len([x for x in SQL if x]))
java = [re.findall("JAVA(?!SCRIPT)",i,re.IGNORECASE) for i in desc_col.values]
print("Java",len([x for x in java if x]))
C = [re.findall("[\s,\.\-(\\\]C([\s,\.\-)\]\\\]|\+\+|SHARP)",i,re.IGNORECASE) for i in desc_col.values]
print("C, C++, or Csharp",len([x for x in C if x]))
hadoop = [re.findall("HADOOP",i,re.IGNORECASE) for i in desc_col.values]
print("Hadoop", len([x for x in hadoop if x]))
spark = [re.findall("SPARK",i,re.IGNORECASE) for i in desc_col.values]
print("Spark", len([x for x in hadoop if x]))
excel = [re.findall("Excel[\s,\.\-)\]\\\)]", i) for i in desc_col.values]
print("Excel",len([x for x in excel if x]))
sas = [re.findall("SAS", i) for i in desc_col.values]
print("SAS", len([x for x in sas if x]))
stata = [re.findall("STATA", i, re.IGNORECASE) for i in desc_col.values]
print("Stata",len([x for x in stata if x]))
matlab = [re.findall("MATLAB", i, re.IGNORECASE) for i in desc_col.values]
print("Matlab",len([x for x in matlab if x]))
scala = [re.findall("SCALA(?![A-Z])", i, re.IGNORECASE) for i in desc_col.values]
print("Scala",len([x for x in scala if x]))
vba = [re.findall("VBA", i, re.IGNORECASE) for i in desc_col.values]
print("VBA",len([x for x in vba if x]))
tableau = [re.findall("TABLEAU", i, re.IGNORECASE) for i in desc_col.values]
print("tableau",len([x for x in tableau if x]))
h2o = [re.findall("H2[O|0]", i, re.IGNORECASE) for i in desc_col.values]
print("h2o",len([x for x in h2o if x]))
ruby = [re.findall("RUBY", i, re.IGNORECASE) for i in desc_col.values]
print("ruby",len([x for x in ruby if x]))
html = [re.findall("HTML", i, re.IGNORECASE) for i in desc_col.values]
print("HTML",len([x for x in html if x]))
css = [re.findall("CSS", i, re.IGNORECASE) for i in desc_col.values]
print("CSS",len([x for x in css if x]))
javascript = [re.findall("JAVA-?\s?SCRIPT", i, re.IGNORECASE) for i in desc_col.values]
print("javascript",len([x for x in javascript if x]))
hive = [re.findall("(.{20})(?<!ARC)(HIVE)(.{20})",i,re.IGNORECASE) for i in desc_col.values]
print("hive",len([x for x in hive if x]))

# arcgis
# regression
# tensorflow
# Keras

Frequency of skills listed for Data Science jobs (1.7k unique postings):
python 815
R 578
SQL 850
Java 359
C, C++, or Csharp 198
Hadoop 342
Spark 342
Excel 316
SAS 248
Stata 42
Matlab 137
Scala 194
VBA 53
tableau 273
h2o 25
ruby 64
HTML 54
CSS 19
javascript 78
hive 98

In [134]:
#Need to change the word numbers into ints
desc_col = distinct_df["description"]
desc_col = desc_col.reset_index(drop=True)
print(len(desc_col))
# print(desc_col)
# print(type(desc_col))
# print(desc_col.values)

numbers = dict({"one":1, "two":2, "three":3, "four":4,"five":5, "six":6, "seven":7, "eight":8, "nine":9, "ten":10,
                "eleven":11, "twelve":12, "thirteen":13, "fourteen":14, "fifteen":15, "sixteen":16, "seventeen":17,
                "eighteen":18, "nineteen":19})

ans = []
def numToInt(column):
    for num in numbers.items():
        for desc in column:
            desc = desc.replace(num[0], str(num[1]))
            ans.append(desc)
    return(ans)
    
    
#     [num_dic.key]
#     for num in numbers.values():
#         print

temp = numToInt(desc_col)

for i in range(0,len(desc_col)-1):
    desc_col.values[i] = temp[i]
    #want to go into the column, then for every value, if the word is in the dictionary, change it to a number

1664

In [155]:
temp = [re.findall("(\d.{0,5}\d)(.{0,20})((?<!/)years?)", i, re.IGNORECASE) for i in desc_col.values]
temp
# for i in temp:
#     if i!=None:
#         i = i[0]
#go into the list. look at every sublist. if the first element of that sublist is greater than 15, drop it
for over_list in temp:
    try:
        for sub_list in over_list:
            if int(sub_list[0])

[[('10', '+ ', 'years')],
 [],
 [('2-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('10', '+ ', 'years')],
 [],
 [],
 [],
 [('0– 2', ' ', 'years')],
 [],
 [('0-3', ' ', 'years')],
 [],
 [],
 [('10', ' ', 'years')],
 [('100', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('2-4', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('10', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('8-12', ' ', 'years'), ('2-3', ' ', 'years'), ('40', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [('3-5', ' ', 'Years')],
 [],
 [],
 [('1-2', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('3-5', ' ', 'years'), ('1-2', ' ', 'year')],
 [],
 [],
 [('2-4', ' ', 'years'), ('2-4', ' ', 'years'), ('2-4', ' ', 'years')],
 [('2-3', ' ', 'years')],
 [],
 [('20', ' ', 'years')],
 [],
 [],
 [('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('30', ' ', 'years')],
 [],
 [],
 [('16', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('5-12', ' ', 'years'), ('0-4', ' ', 'years')],
 [],
 [],
 [('2-5', '+ ', 'years')],
 [],
 [],
 [('0-2', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('1-3', ' ', 'years')],
 [('8-10', ' ', 'years')],
 [],
 [('1 (1', ') ', 'year')],
 [],
 [],
 [],
 [('1-3', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('1-3', ' ', 'Years')],
 [],
 [],
 [],
 [],
 [('6-8', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('1-3', ' ', 'years')],
 [('10', ' ', 'years'), ('2-5', ' ', 'years')],
 [('20', ' ', 'years')],
 [('2 - 5', ' ', 'years')],
 [],
 [],
 [('43', 'rd ', 'year')],
 [],
 [('175', ' ', 'years')],
 [('40', ' ', 'years'), ('1-3', ' ', 'Years')],
 [],
 [],
 [('10', '+ ', 'years')],
 [],
 [],
 [],
 [],
 [('1-3', ' ', 'years')],
 [('10', '+ ', 'years')],
 [],
 [('0-5', ' ', 'YEARS')],
 [],
 [],
 [],
 [('2-3', ' ', 'years'), ('2-3', ' ', 'years')],
 [('5-8', ' ', 'years')],
 [('7 - 10', ' ', 'years'), ('4 - 6', ' ', 'years')],
 [('100', 'K per ', 'year')],
 [('1-3', ' ', 'years')],
 [('300', ' ', 'years')],
 [],
 [('538', ' billion. As of ', 'year'),
  ('170', ' ', 'years'),
  ('150', ' ', 'years')],
 [],
 [],
 [('175', ' ', 'years')],
 [('1-2', ' ', 'years')],
 [],
 [],
 [('10', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('10', ' ', 'years')],
 [],
 [],
 [('1-2', ' ', 'years')],
 [('147', '-', 'year')],
 [],
 [('2-5', ' ', 'years'), ('2-5', ' ', 'years'), ('2-5', ' ', 'years')],
 [],
 [],
 [],
 [('3-5', ' ', 'years')],
 [],
 [],
 [('2-3', ' ', 'years')],
 [('10', ' ', 'years'), ('150', ' ', 'years')],
 [('1-3', ' ', 'years'), ('1-3', ' ', 'years')],
 [],
 [('4-6', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('12', '+ ', 'years')],
 [('2-5', ' ', 'years')],
 [],
 [('1-2', ' ', 'years')],
 [],
 [],
 [('2-7', ' ', 'years')],
 [('5-10', ' ', 'years'), ('50', ' per hour ($100K ', 'year')],
 [],
 [],
 [],
 [],
 [('5-10', ' ', 'years')],
 [],
 [],
 [('5-10', ' ', 'years')],
 [],
 [('7-10', '+ ', 'years')],
 [],
 [('3-5', ' ', 'years')],
 [],
 [],
 [],
 [('2-4', ' ', 'years')],
 [],
 [],
 [('3-5', ' ', 'years')],
 [('3-5', ' ', 'years')],
 [],
 [('1,000', ' ', 'year')],
 [],
 [('1-5', '+ ', 'years')],
 [],
 [],
 [('30', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('50', '+ ', 'year'), ('0-2', '+ ', 'years')],
 [],
 [],
 [('50', 'th Anniversary ', 'year'), ('12', '+ ', 'years')],
 [],
 [],
 [],
 [('1-2', ' ', 'year')],
 [],
 [],
 [],
 [('3-4', ' ', 'years'),
  ('3-4', ' ', 'years'),
  ('2-3', ' ', 'years'),
  ('3-4', ' ', 'years'),
  ('2-4', ' ', 'years')],
 [('1-3', ' ', 'years')],
 [],
 [('1.9', ' trillion per ', 'year'), ('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('3-5', ' ', 'years')],
 [('4-6', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('4-6', ' ', 'years')],
 [],
 [],
 [],
 [('2 5', ' ', 'years'), ('1-2', ' ', 'years')],
 [],
 [('1-2', ' ', 'years')],
 [('1 to 3', ' ', 'years')],
 [],
 [],
 [],
 [('2-4', '+ ', 'years')],
 [],
 [],
 [],
 [],
 [('3 - 5', ' ', 'Years'),
  ('4-6', ' ', 'years'),
  ('2-3', ' ', 'years'),
  ('2-3', ' ', 'years')],
 [],
 [],
 [('18', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('12-15', ' ', 'year')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('1-3', ' ', 'years')],
 [],
 [],
 [('27', 'th ', 'year'), ('0-2', ' ', 'years'), ('2-4', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('30', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('2-4', ' ', 'years')],
 [('10 to 1', '5 ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('3,000', ' scholars each ', 'year')],
 [],
 [('1 to 3', ' ', 'years')],
 [],
 [('0 – 3', ' ', 'years')],
 [('3-5', ' ', 'years'), ('5-7', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('2-3', ' ', 'years')],
 [],
 [],
 [('2-5', ' ', 'years')],
 [],
 [('1 to 5', ' ', 'years')],
 [],
 [('2-4', ' ', 'years')],
 [('12-15', ' ', 'year')],
 [],
 [],
 [],
 [],
 [],
 [('10', ' out of 10 (with 2+ ', 'years')],
 [('3-4', ' ', 'years')],
 [('50', ' ', 'years')],
 [('40', ' ', 'years'), ('10', ' ', 'years')],
 [],
 [('10', '+ ', 'years'), ('5-8', ' ', 'years')],
 [],
 [('2-3', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [('15', ' vacation days per ', 'year')],
 [],
 [('2 to 4', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('10', ') ', 'years')],
 [],
 [],
 [],
 [],
 [('2007', ' and at least 7 ', 'years')],
 [('15', '+ ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('10', ' ', 'years')],
 [('3-6', ' ', 'Years'),
  ('7-10', ' ', 'Years'),
  ('10', '+ ', 'Years'),
  ('10', ' ', 'years')],
 [],
 [],
 [('3 to 10', ' ', 'years')],
 [],
 [],
 [],
 [('10', '+ ', 'years')],
 [],
 [],
 [],
 [('15', ' days per ', 'year')],
 [],
 [],
 [],
 [('3 to 5', ' ', 'years'), ('5 to 10', ' ', 'years')],
 [('15', ' ', 'years')],
 [],
 [('12', '+ ', 'years'), ('10', '+ ', 'years')],
 [('3 - 5', ' ', 'years')],
 [],
 [('5-7', ' ', 'years')],
 [('10', ' with up to 20 ', 'years')],
 [],
 [('0-4', ' ', 'years'), ('5-9', ' ', 'years'), ('10', '+ ', 'years')],
 [('10', ' ', 'years')],
 [('3-10', ' ', 'years'), ('10-20', ' ', 'years'), ('20', '+ ', 'years')],
 [],
 [('12', ' ', 'years')],
 [],
 [],
 [('5-8', ' ', 'years'), ('50', ' ', 'years')],
 [('5-8', ' ', 'years'), ('50', ' ', 'years')],
 [],
 [],
 [('18', '+ ', 'years')],
 [],
 [],
 [('6 - 10', ' ', 'years')],
 [],
 [('3-5', ' ', 'years')],
 [('1 – 3', ' ', 'years')],
 [],
 [('3-5', ' ', 'years'), ('125', ' ', 'years')],
 [('19', ' ', 'years')],
 [],
 [('2-3', ' ', 'years')],
 [],
 [('1-2', ' ', 'years')],
 [('25', '+ ', 'years'), ('4-6', '\xa0', 'years')],
 [('10', ') ', 'years'),
  ('14', '+ ', 'years'),
  ('10', '+ ', 'years'),
  ('00', '+ ', 'years')],
 [],
 [],
 [('1-5', '+ ', 'years')],
 [],
 [('5-10', ' ', 'years')],
 [('10', '+ ', 'years')],
 [('35', '-', 'year'), ('35', '-', 'year')],
 [],
 [],
 [],
 [],
 [],
 [('56.7', '% in year-over-', 'year')],
 [],
 [('1 (1', ') ', 'year'), ('1 (1', ') ', 'year')],
 [],
 [],
 [('1 (1', ') ', 'year')],
 [],
 [],
 [],
 [('10', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [('5 to 15', '+ ', 'Years')],
 [('1-5', ' ', 'years')],
 [('10', ' ', 'years')],
 [],
 [],
 [('4 to 7', ' ', 'years')],
 [],
 [],
 [],
 [('30', ' ', 'years')],
 [],
 [],
 [],
 [('1 to 4', ' ', 'years'), ('40', ' ', 'years')],
 [('40', ' ', 'Years'), ('40', ' ', 'years')],
 [],
 [],
 [('10', '+ ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('1-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('1-2', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('5 to 7', ' ', 'years')],
 [('2 to 4', ' ', 'years'), ('2 to 4', ' ', 'years')],
 [],
 [('0-3', ' ', 'years')],
 [('10', '+ ', 'years')],
 [],
 [],
 [('75', ' ', 'years')],
 [],
 [('10', '+ ', 'years'), ('14', '+ ', 'years')],
 [],
 [],
 [],
 [],
 [('38', ' ', 'years')],
 [('1-3', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('2-3', ' ', 'years')],
 [],
 [('4-6', ' ', 'years')],
 [],
 [],
 [],
 [('0 – 2', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('10', '+ ', 'years')],
 [('18', ' credit hours per ', 'year')],
 [],
 [],
 [('0 - 3', ' ', 'years')],
 [('1-2', ' ', 'years')],
 [('7 (or 1', '0) ', 'year')],
 [],
 [],
 [],
 [],
 [],
 [('4-6', ' ', 'years'), ('4-6', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [('3-7', '+ ', 'years')],
 [],
 [],
 [],
 [('5-7', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('0 - 5', ' ', 'years')],
 [],
 [],
 [],
 [('56.7', '% in year-over-', 'year')],
 [('2-5', ' ', 'years'), ('5-8', ' ', 'years'), ('8-10', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('125', ' ', 'years')],
 [('0-3', ' ', 'years'), ('1-3', ' ', 'years')],
 [],
 [('0-4', '', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('1-3', ' ', 'years')],
 [],
 [],
 [('2-3', ' ', 'years')],
 [('165', ' ', 'years')],
 [],
 [('6-8', '+ ', 'years'), ('3 4', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('50', '+ ', 'year')],
 [],
 [],
 [('5-8', '+ ', 'years')],
 [],
 [],
 [],
 [],
 [('4-6', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('1-2', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('1-2', ' ', 'years')],
 [],
 [('1-2', ' ', 'years')],
 [],
 [('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('1999', ', the ', 'year')],
 [],
 [('3-5', ' ', 'years')],
 [('125', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('3-5', ' ', 'years'), ('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('3-8', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('10', '+ ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('2-3', ' ', 'years')],
 [('12-15', ' ', 'years'), ('2-3', ' ', 'years'), ('2-3', ' ', 'years')],
 [],
 [],
 [('10', '+ ', 'years')],
 [],
 [('40', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('0-6', ' ', 'years')],
 [('5 to 8', ' ', 'years')],
 [],
 [],
 [('0-4', '', 'years'), ('0-4', '', 'years')],
 [],
 [],
 [('2-4', '+ ', 'years')],
 [],
 [],
 [],
 [],
 [('3 – 5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('3-5', ') ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [('1-3', ' ', 'years')],
 [('17', ' ', 'years'), ('3-5', ' ', 'years')],
 [('5-8', ' ', 'Years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('2014', ' “Game of the ', 'Year')],
 [('1-3', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('20', '+ ', 'years'), ('10', ' ', 'years')],
 [],
 [],
 [],
 [('3-4', ' ', 'years')],
 [('50', ' ', 'years')],
 [],
 [('5 to 10', ' ', 'years'), ('7 - 10', ' ', 'Years')],
 [],
 [],
 [],
 [],
 [],
 [('1-2', ' ', 'years'), ('1 – 2', ' ', 'years')],
 [],
 [('3-5', ' ', 'years')],
 [],
 [],
 [('1-2', ' ', 'years')],
 [],
 [('3-5', ' ', 'years'), ('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('3-5', ' ', 'years')],
 [],
 [('1-3', ' ', 'years')],
 [],
 [('2-3', ' ', 'years')],
 [],
 [],
 [('5-8', ' ', 'years')],
 [('3-5', ' ', 'years')],
 [('8-10', ' ', 'years'), ('5-8', ' ', 'years'), ('3-4', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('10', ' ', 'years'), ('12', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('3 to 5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('5-7', ' ', 'years')],
 [],
 [],
 [('8-10', ' ', 'years')],
 [],
 [('5-8', ' ', 'years'), ('3-5', ' ', 'years')],
 [('3 - 5', ' ', 'Years')],
 [],
 [],
 [],
 [('5 - 7', ' ', 'years')],
 [],
 [],
 [('0-2', ' ', 'years')],
 [],
 [],
 [],
 [('10', '+ ', 'years')],
 [('3 - 5', ' ', 'years'),
  ('1 - 3', ' ', 'years'),
  ('1 -3', ' ', 'years'),
  ('1 - 3', ' ', 'years')],
 [('3-5', ' ', 'years')],
 [('5-8', '+ ', 'years')],
 [],
 [('2-5', ' ', 'years'), ('2-5', ' ', 'years')],
 [],
 [],
 [('100,000', ' clients each ', 'year')],
 [('10', ' paid holidays per ', 'year')],
 [],
 [('10', ' ', 'years')],
 [('3-5', ' ', 'years')],
 [('1-3', ' ', 'years'), ('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('5-7', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('0 to 2', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [('0-3', ' ', 'Years')],
 [('3-7', ' ', 'years'), ('50', 'M consumers a ', 'year')],
 [],
 [('3 to 7', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('40', ' ', 'years')],
 [('5-7', ' ', 'years')],
 [('2-4', ' ', 'years')],
 [],
 [],
 [],
 [('5-7', ' ', 'years')],
 [('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [('2-4', ' ', 'years'), ('40', ' ', 'year'), ('300', '-', 'year')],
 [],
 [],
 [('90', ' ', 'years'), ('6-10', ' ', 'years')],
 [('2-3', ' ', 'years')],
 [('2 - 5', '+ ', 'years')],
 [('2-4', ' ', 'year')],
 [('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('45', ' ', 'years'), ('11', ' paid holidays per ', 'year')],
 [('1-3', ' ', 'years')],
 [],
 [('4-8', ' ', 'years'), ('4-8', ' ', 'years')],
 [],
 [],
 [('6-8', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('10-12', ' ', 'years'), ('10', ' ', 'years')],
 [],
 [],
 [],
 [],
 [('5 - 7', ' ', 'years')],
 [],
 [],
 [],
 [('1-2', ' ', 'years')],
 [],
 [('1-3', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [('3-5', '+ ', 'years'),
  ('3-5', '+ ', 'years'),
  ('3-4', '+ ', 'years'),
  ('3-5', '+ ', 'years')],
 [],
 [],
 [('1-3', ' ', 'years')],
 [('1.9', ' billion a ', 'year'), ('3 – 5', ' ', 'years')],
 [],
 [('1-5', ' ', 'years')],
 [],
 [('10', ' ', 'years'), ('5 to 6', ' ', 'years'), ('200', ' ', 'years')],
 [],
 [],
 [],
 [('5-10', ' ', 'years')],
 [],
 [],
 [],
 [('4-7', ' ', 'years')],
 [('3-5', ' ', 'years')],
 [],
 [('3 - 5', ' ', 'years')],
 [],
 [],
 [('3-5', ' ', 'years'),
  ('3-5', ' ', 'years'),
  ('3-5', ' ', 'years'),
  ('3-5', ' ', 'years')],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('10', ' ', 'years')],
 [('18', ' ', 'years')],
 [],
 [],
 [],
 [('1-2', ' ', 'years')],
 [],
 [],
 [('2 - 3', '+ ', 'years')],
 [('3 - 5', ' ', 'years'), ('5 10', ' ', 'years')],
 ...]

In [ ]:
print("HOW TO GET CITY INFORMATION")

In [ ]:
cities = ["boston","new-york","washington","san-jose","los-angeles","chicago","austin","huntsville","seattle","denver","san-francisco","miami","tampa","palo-alto","houston","atlanta"]
city_ids = [1154532,1132348,1138213,1147436,1146821,1128808,1139761,1127653,1150505,1148170,1147401,1154170,1154429,1147434,1140171,1155583 ]

In [ ]:
    for city_id in city_ids:
        for i in range(1,31):
            pass
#             print("https://www.glassdoor.com/Job/new-york-data-scientist-jobs-SRCH_IL.0,8_IC"+
#                   str(city_id)+
#                   "_KO9,23_IP"+
#                   str(i)+
#                   ".htm")

In [ ]:
x =[("https://www.glassdoor.com/Job/new-york-data-scientist-jobs-SRCH_IL.0,8_IC" + 
    str(city_id) +
    "_KO9,23_IP" +
    str(num) + 
    ".htm") for city_id in city_ids for num in range(1,31)]
# x
#[x for y in collection for x in y] # [A for B in C for D in E]
#for y in collection:     #      for B in C:
#    for x in y:          #          for D in E: (in this case: for A in B)
        # receive x      #              # receive A

In [ ]:
# [str(len(city)) for city in cities]
# [str(len(city)+14) for city in cities]

In [ ]:
cities = list(zip(cities,city_ids))
cities #this has the right line up
start_url = [("https://www.glassdoor.com/Job/"+
              # city name
              city[0]+
              # the job position we are looking for with some standard text. Start the search for the location at 0
              "-data-scientist-jobs-SRCH_IL.0,"+
              # and the last character for the city is the city length (including hyphens)
              str(len(city[0]))+
              # location code
              "_IC"+
              str(city[1])+
              "_KO"+
              # looking up the occupation search term which is 1 after the city length (doesn't include hyphen)
              str(len(city[0])+1)+
              ","+
              #and the job term ends 15 characters after "-data-scientist"
              str(len(city[0])+15)+
              "_IP"+
              #the page number we are looking for
              str(i) +
              #only pages 1 to 30 since pages 31+ don't exist on the website
              ".htm") for city in cities for i in range(1,31)]
start_url

cities[1][0]

#PROPER SAN JOSE: https://www.glassdoor.com/Job/san-jose-data-scientist-jobs-SRCH_IL.0,8_IC1147436_KO9,23_IP2.htm

In [ ]:
x = [url + "_KO9,23_IP" for url in x]
# x

In [ ]:
i = (range(1,31))
# [(url + str(num) + ".htm") for url in x for num in i]

In [ ]:
 seq_x = [1, 2, 3, 4]
seq_y = 'abc'
[(x,y) for x in seq_x for y in seq_y]
[(1, 'a'), 
 (1, 'b'), 
 (1, 'c'), 
 (2, 'a'), 
 (2, 'b'), 
 (2, 'c'), 
 (3, 'a'), 
 (3, 'b'), 
 (3, 'c'), 
 (4, 'a'), 
 (4, 'b'), 
 (4, 'c')]

In [ ]:
["https://www.glassdoor.com/Job/new-york-data-scientist-jobs-SRCH_IL.0,8_IC"+str(city_id)+"_KO9,23_IP"+str(i)+".htm" for city_id for i in range(1,31) for city_id in city_ids]

In [ ]:
if not all(item.values()):
	raise DropItem("Missing values!")