In [121]:
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)

In [124]:
df = pd.read_csv("./Data/testing_reviews.csv")

In [125]:
print(df.isnull().sum())
print(len(pd.unique(df["job_location"])))
print(len(pd.unique(df["company_name"]))) #2.6 for the larger df
# print(len(pd.unique(df["Industry"])))
# print(len(pd.unique(df["Type"])))
# print(len(pd.unique(df["Size"])))
df.columns

company_cons     312
company_info     311
company_name       0
company_pros     311
description        4
job_location     311
job_title          0
outlook          311
post_date          0
rating             0
recommend        311
salary_est      4020
salary_high     4020
salary_low      4020
dtype: int64
265
2646

Index(['company_cons', 'company_info', 'company_name', 'company_pros',
       'description', 'job_location', 'job_title', 'outlook', 'post_date',
       'rating', 'recommend', 'salary_est', 'salary_high', 'salary_low'],
      dtype='object')

In [126]:
df = df[(df["company_name"]!="*** ERROR - NO COMPANY LISTED. SEE DESCRIPTION FOR POSSIBLE HINTS *** [XX]") & (df["company_info"].isnull()!=True)]
print((df["company_name"]=="*** ERROR - NO COMPANY LISTED. SEE DESCRIPTION FOR POSSIBLE HINTS *** [XX]").sum())
# print(df["company_info"].isnull().sum())
# # print(df["company)info"].contains(">").sum())
# print(len(df))
# df.dropna()
# print(len(df))
df = df.reset_index()
df[df["company_name"]=="UPS Professional"]

0

,index,company_cons,company_info,company_name,company_pros,description,job_location,job_title,outlook,post_date,rating,recommend,salary_est,salary_high,salary_low
12486,12796,Disconnect between HQ and US,"[('Headquarters', 'Paris, France'), ('Size', '...",UPS Professional,High quality product\nHigh level education\nSm...,This is an exciting opportunity to join a gro...,"Atlanta, GA",Digital Marketing Data Manager,Positive Outlook,30+ days ago,3.1,Recommends,"$87,000",$107k,$73k
12487,12797,Non paid travel time\nNot many hours\nSlow pap...,"[('Headquarters', 'Paris, France'), ('Size', '...",UPS Professional,Lenient dress code\nGratis\nFun work environme...,This is an exciting opportunity to join a gro...,"Atlanta, GA",Digital Marketing Data Manager,Negative Outlook,30+ days ago,3.1,Doesn't Recommend,"$87,000",$107k,$73k
12488,12798,Could be made a full-time position,"[('Headquarters', 'Paris, France'), ('Size', '...",UPS Professional,A lot of attention and support in your work in...,This is an exciting opportunity to join a gro...,"Atlanta, GA",Digital Marketing Data Manager,Positive Outlook,30+ days ago,3.1,Recommends,"$87,000",$107k,$73k
12489,12799,Do not treat interns nicely,"[('Headquarters', 'Paris, France'), ('Size', '...",UPS Professional,"Pretty good pay, laid back dress code",This is an exciting opportunity to join a gro...,"Atlanta, GA",Digital Marketing Data Manager,Recommendation or Outlook not listed,30+ days ago,3.1,Recommendation or Outlook not listed,"$87,000",$107k,$73k
12490,12800,"98% females work there, very clicky, wasn't gi...","[('Headquarters', 'Paris, France'), ('Size', '...",UPS Professional,"easy work, beautiful office, if you're a full ...",This is an exciting opportunity to join a gro...,"Atlanta, GA",Digital Marketing Data Manager,Neutral Outlook,30+ days ago,3.1,Recommends,"$87,000",$107k,$73k

In [127]:
from ast import literal_eval
df["company_info"] = df["company_info"].apply(literal_eval)# df["company_info"]

df["company_info"] = pd.Series([dict(i) for i in df["company_info"]])
# df["company_info"]
# df["company_info"].items

In [128]:
df = pd.concat([df.drop('company_info', axis = 1), df["company_info"].apply(pd.Series)], axis = 1)

In [134]:
sizes = ['1 to 50 employees', '51 to 200 employees',  '201 to 500 employees', '501 to 1000 employees',
         '1001 to 5000 employees', '5001 to 10000 employees', '10000+ employees', 'Unknown']

In [143]:
df[df.salary_est=="$290,000"]

Empty DataFrame
Columns: [index, company_cons, company_name, company_pros, description, job_location, job_title, outlook, post_date, rating, recommend, salary_est, salary_high, salary_low, Competitors, Founded, Headquarters, Industry, Now known as , Part of , Revenue, Size, Type]
Index: []

In [4]:
df = pd.read_csv("./Scraped-data/reviews.csv")
# df

In [5]:
# print(100*df["salary_est"].isnull().sum()/len(df["salary_est"]),"%")

df = df[(df["company_name"]!="*** ERROR - NO COMPANY LISTED. SEE DESCRIPTION FOR POSSIBLE HINTS *** [XX]") & (df["company_info"].isnull()!=True)]
print((df["company_name"]=="*** ERROR - NO COMPANY LISTED. SEE DESCRIPTION FOR POSSIBLE HINTS *** [XX]").sum())
print(df["company_info"].isnull().sum())
# print(df["company)info"].contains(">").sum())

0
0

In [6]:
df["company_info"] = df["company_info"].apply(eval)
# df["company_info"]

df["company_info"] = pd.Series([dict(i) for i in df["company_info"]])
# df["company_info"]
# df["company_info"].items

In [7]:
df = pd.concat([df.drop('company_info', axis = 1), df["company_info"].apply(pd.Series)], axis = 1)
#C:\Users\mjgol\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' 
# not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
#   result = result.union(other)

In [8]:
# df

In [9]:
df.isnull().sum()
print(len(pd.unique(df["job_location"])))
print(len(pd.unique(df["company_name"]))) #well that isn't a lot 
print(len(pd.unique(df["Industry"])))
print(len(pd.unique(df["Type"])))
print(len(pd.unique(df["Size"])))

df.columns

216
1709
38
463
8

Index(['company_cons', 'company_name', 'company_pros', 'description',
       'job_location', 'job_title', 'outlook', 'post_date', 'rating',
       'recommend', 'salary_est', 'salary_high', 'salary_low', 'Competitors',
       'Founded', 'Headquarters', 'Industry', 'Now known as ', 'Part of ',
       'Revenue', 'Size', 'Type'],
      dtype='object')

In [10]:
for i in np.where(df["Part of "]==""):
    df.loc[i, "Founded"] = df.loc[i,"Type"]
    df.loc[i,"Type"] = df.loc[i,"Industry"]
    df.loc[i,"Industry"] = df.loc[i,"Revenue"]
    df.loc[i,"Revenue"] = df.loc[i,"Competitors"]
    df.loc[i, "Part of "] = np.nan
    df.loc[i,"Competitors"] = np.nan
#     type to founded
#     revenue to industry
#     industry to type
#     competitors to revenue

In [11]:
# df

In [12]:
df.isnull().sum()

company_cons        1
company_name        0
company_pros        0
description         0
job_location        0
job_title           0
outlook             0
post_date           0
rating              0
recommend           0
salary_est          0
salary_high         0
salary_low          0
Competitors      2127
Founded           100
Headquarters       10
Industry           60
Now known as     8473
Part of          8503
Revenue           125
Size                0
Type                0
dtype: int64

In [22]:
# df.drop(["Now known as ", "Part of ", "post_date"], axis = 1)

In [14]:
# distinct_df = distinct
#Greentech media data analyst - 	Brooklyn, 061 for HQ

In [15]:
len(df["Type"])

8503

In [16]:
distinct_df = df.drop_duplicates(["company_name", "description", "job_location", "job_title"])
distinct_df = distinct_df.drop(["company_cons", "company_pros", "outlook", "recommend", "Headquarters"], axis = 1)

In [17]:
distinct_df["description"][5]
print(len(distinct_df["job_title"]))
# df[df.C.str.contains("XYZ") == False]
distinct_df = distinct_df[distinct_df["job_title"].str.contains("[Ii]ntern(?!a)")==False] 
len(distinct_df)
#to prevent internal, or international, etc.
#we also don't want internships

1712

1664

In [18]:
desc_col = distinct_df["description"]
desc_col = desc_col.reset_index(drop=True)
desc_col.values
# [re.search("(.{9})years?",i) for i in test.values]
# [re.findall("(.{20}) (YEARS?) (.{20})",i,re.IGNORECASE) for i in test.values]
# [re.findall("(.{20})(B\.?A\.?(?!\w)|B\.?S\.?+)(.{20})",i, re.IGNORECASE) for i in test.values]

##WILL NEED SANITY CHECK ON THIS
##EDUCATION LISTINGS
bachelors = [re.findall("(?<![A-Z])B\.?S\.?c?(?![A-Z])|(?<![A-Z])B\.?A\.?(?![A-Z])|BACHELOR|UNDERGRAD.{0,40} DEGREE|ASSOCIATE'?S?.{20}DEGREE",i, re.IGNORECASE) for i in desc_col.values]
print(len([x for x in bachelors if x]))
masters = [re.findall("(MASTER'?S?.{0,40}DEGREE|GRADUATE.{0,40}DEGREE|(?<![A-Z])M\.?S\.?(?![A-Z]|\sDYNAMICS|,\sDSC)(?!-?~?\s?OFFICE|\sEXCEL|\sWORD|\sACCESS|-?\s?SQL)|ADVANCED?.{0,40}DEGREE)",i,re.IGNORECASE) for i in desc_col.values]
mba = [re.findall("([\s|-|/]MBA[\s|-|/]|[\s|-|/]MBUS[\s|-|/]|[\s|-|/]MBS[\s|-|/]|MASTERS? OF BUSINESS)",i,re.IGNORECASE) for i in desc_col.values]
print(len([x for x in mba if x]))
print(len([x for x in masters if x]))
phd = [re.findall("(PH\.?D|ADVANCED?.{0,40}DEGREE|DOCTORA[TE|L]|POST-?\s?GRADUATE)",i,re.IGNORECASE) for i in desc_col.values]
print(len([x for x in phd if x]))

837
35
693
565

In [27]:
# print("Frequency of skills listed for Data Science jobs (1.7k unique postings):")
# python = [re.findall("PYTHON",i,re.IGNORECASE) for i in desc_col.values]
# print("python",len([x for x in python if x]))
# R = [re.findall("[\s,\.\-(\[\\\]R[\s,\.\-)\]\\\]",i,re.IGNORECASE) for i in desc_col.values]
# print("R", len([x for x in R if x]))
# SQL = [re.findall("SQL",i,re.IGNORECASE) for i in desc_col.values]
# print("SQL", len([x for x in SQL if x]))
# java = [re.findall("JAVA(?!SCRIPT)",i,re.IGNORECASE) for i in desc_col.values]
# print("Java",len([x for x in java if x]))
# C = [re.findall("[\s,\.\-(\\\]C([\s,\.\-)\]\\\]|\+\+|SHARP)",i,re.IGNORECASE) for i in desc_col.values]
# print("C, C++, or Csharp",len([x for x in C if x]))
# hadoop = [re.findall("HADOOP",i,re.IGNORECASE) for i in desc_col.values]
# print("Hadoop", len([x for x in hadoop if x]))
# spark = [re.findall("SPARK",i,re.IGNORECASE) for i in desc_col.values]
# print("Spark", len([x for x in hadoop if x]))
# excel = [re.findall("Excel[\s,\.\-)\]\\\)]", i) for i in desc_col.values]
# print("Excel",len([x for x in excel if x]))
# sas = [re.findall("SAS", i) for i in desc_col.values]
# print("SAS", len([x for x in sas if x]))
# stata = [re.findall("STATA", i, re.IGNORECASE) for i in desc_col.values]
# print("Stata",len([x for x in stata if x]))
# matlab = [re.findall("MATLAB", i, re.IGNORECASE) for i in desc_col.values]
# print("Matlab",len([x for x in matlab if x]))
# scala = [re.findall("SCALA(?![A-Z])", i, re.IGNORECASE) for i in desc_col.values]
# print("Scala",len([x for x in scala if x]))
# vba = [re.findall("VBA", i, re.IGNORECASE) for i in desc_col.values]
# print("VBA",len([x for x in vba if x]))
# tableau = [re.findall("TABLEAU", i, re.IGNORECASE) for i in desc_col.values]
# print("tableau",len([x for x in tableau if x]))
# h2o = [re.findall("H2[O|0]", i, re.IGNORECASE) for i in desc_col.values]
# print("h2o",len([x for x in h2o if x]))
# ruby = [re.findall("RUBY", i, re.IGNORECASE) for i in desc_col.values]
# print("ruby",len([x for x in ruby if x]))
# html = [re.findall("HTML", i, re.IGNORECASE) for i in desc_col.values]
# print("HTML",len([x for x in html if x]))
# css = [re.findall("CSS", i, re.IGNORECASE) for i in desc_col.values]
# print("CSS",len([x for x in css if x]))
# javascript = [re.findall("JAVA-?\s?SCRIPT", i, re.IGNORECASE) for i in desc_col.values]
# print("javascript",len([x for x in javascript if x]))
# hive = [re.findall("(.{20})(?<!ARC)(HIVE)(.{20})",i,re.IGNORECASE) for i in desc_col.values]
# print("hive",len([x for x in hive if x]))
webscrape = [re.findall("SCRAPY|SELENIUM|SCRAPE|SCRAPING|WEB SCRAP",i,re.IGNORECASE) for i in desc_col.values]
print("webscrape",len([x for x in webscrape if x]))
# arcgis
# regression
# tensorflow
# Keras

webscrape 9

In [20]:
#Need to change the word numbers into ints
desc_col = distinct_df["description"]
desc_col = desc_col.reset_index(drop=True)
print(len(desc_col))
# print(desc_col)
# print(type(desc_col))
# print(desc_col.values)

numbers = dict({"one":1, "two":2, "three":3, "four":4,"five":5, "six":6, "seven":7, "eight":8, "nine":9, "ten":10,
                "eleven":11, "twelve":12, "thirteen":13, "fourteen":14, "fifteen":15, "sixteen":16, "seventeen":17,
                "eighteen":18, "nineteen":19})

ans = []
def numToInt(column):
    for num in numbers.items():
        for desc in column:
            desc = desc.replace(num[0], str(num[1]))
            ans.append(desc)
    return(ans)
    
    
#     [num_dic.key]
#     for num in numbers.values():
#         print

temp = numToInt(desc_col)

for i in range(0,len(desc_col)-1):
    desc_col.values[i] = temp[i]
    #want to go into the column, then for every value, if the word is in the dictionary, change it to a number

1664

In [21]:
temp = [re.findall("(\d.{0,5}\d)(.{0,20})((?<!/)years?)", i, re.IGNORECASE) for i in desc_col.values]
temp
# for i in temp:
#     if i!=None:
#         i = i[0]
#go into the list. look at every sublist. if the first element of that sublist is greater than 15, drop it
for over_list in temp:
    try:
        for sub_list in over_list:
            if int(sub_list[0])

SyntaxError: invalid syntax (<ipython-input-21-d9b7ae204803>, line 10)

In [47]:
import plotly
from plotly.graph_objs import Figure, Histogram, Bar, Layout
loc_cat = distinct_df["job_location"].unique()
# print(type(loc_cat))
loc_count = distinct_df.groupby("job_location")["job_location"].count()
# print((loc_count))
data = [Bar(x=loc_cat, y = loc_count)]
# location_df = distinct_df.groupby("job_location").count()
layout = Layout(title="Data Science Job Offerings Based on Location")
fig = Figure(data=data, layout=layout)
plotly.offline.iplot(fig)

# import plotly.plotly as py
# import plotly.graph_objs as go

# data = [go.Bar(
#             x=['giraffes', 'orangutans', 'monkeys'],
#             y=[20, 14, 23]
#     )]

# py.iplot(data, filename='basic-bar')

In [114]:
median_rent = pd.read_csv("D:/NYC-Data-Science/Projects/Webscrapping-Project/glassdoor/Data/Top 25 DS cities median rent.csv")
top25_median = distinct_df.merge(median_rent,how = "inner", left_on = "job_location", right_on = "Location", sort = True)
df["salary_est"] = [int(i.replace("$","").replace(",","")) for i in df["salary_est"]]

# top25_median["Median Yearly 1 BB rent"]= top25_median["Median Yearly 1 BB rent"].astype(int)
top25_median
# top25_median["sal_ratio"] = top25_median["salary_est"]/top25_median["Median Yearly 1 BB rent"]
# top25_median["sorted_med"] = top25_median.groupby("job_location")["salary_est"].agg("median")
# top25_median = top25_median.sort_values("sorted_med")

AttributeError: 'float' object has no attribute 'replace'

In [49]:
distinct_df["state"] = distinct_df["job_location"].str[-2:]
print(len(distinct_df["state"].unique()))
print(distinct_df["state"].unique())

print(distinct_df['state'].value_counts())

15
['MA' 'NY' 'NJ' 'VA' 'DC' 'MD' 'CA' 'IL' 'IN' 'TX' 'AL' 'WA' 'CO' 'FL' 'GA']
CA    506
NY    207
MA    159
IL    147
WA    102
GA     99
DC     85
TX     82
CO     70
VA     69
FL     68
MD     36
NJ     19
AL     14
IN      1
Name: state, dtype: int64

In [67]:
distinct_df = distinct_df.sort_values("state")
loc_cat = distinct_df["state"].unique()
# print(type(loc_cat))
loc_count = distinct_df.groupby("state")["state"].count()
# print(loc_count)
data = [Bar(x=loc_count, y = loc_count)]
# location_df = distinct_df.groupby("job_location").count()
layout = Layout(title="Data Science Job Offerings Based on Location")
fig = Figure(data=data, layout=layout)
plotly.offline.iplot(fig, show_link=False)

In [68]:
print(distinct_df["job_location"].unique())

['Huntsville, AL' 'Mountain View, CA' 'San Francisco, CA' 'San Mateo, CA'
 'Redwood City, CA' 'Palo Alto, CA' 'Burlingame, CA' 'Berkeley, CA'
 'Emeryville, CA' 'San Jose, CA' 'Los Angeles, CA'
 'South San Francisco, CA' 'San Ramon, CA' 'Mill Valley, CA' 'Oakland, CA'
 'Greenbrae, CA' 'Crockett, CA' 'Long Beach, CA' 'Sunnyvale, CA'
 'Cupertino, CA' 'Santa Clara, CA' 'Milpitas, CA' 'Pleasanton, CA'
 'San Carlos, CA' 'Fremont, CA' 'Campbell, CA' 'Santa Monica, CA'
 'Pasadena, CA' 'Menlo Park, CA' 'Buena Park, CA' 'Burbank, CA'
 'Venice, CA' 'Azusa, CA' 'Woodland Hills, CA'
 'Santa Fe Springs, Los Angeles, CA' 'Alameda, CA' 'Foster City, CA'
 'Martinez, CA' 'Brisbane, CA' 'Sausalito, CA' 'Stanford, CA'
 'El Segundo, CA' 'Seal Beach, CA' 'El Monte, CA' 'Cypress, CA'
 'Calabasas, CA' 'Encino, CA' 'Northridge, CA' 'Hollywood, CA'
 'Gardena, CA' 'Playa Vista, CA' 'Monrovia, CA' 'Sherman Oaks, CA'
 'Anaheim, CA' 'Cerritos, CA' 'Bell, CA' 'Compton, CA' 'Los Gatos, CA'
 'Monterey Park, CA' 'Livermore, CA' 'Culver City, CA' 'Glendale, CA'
 'Hawthorne, CA' 'Irwindale, CA' 'Rosemead, CA' 'Torrance, CA'
 'Marina del Rey, CA' 'Denver, CO' 'Boulder, CO' 'Centennial, CO'
 'Littleton, CO' 'Englewood, CO' 'Broomfield, CO'
 'Greenwood Village, Arapahoe, CO' 'Golden, CO' 'Westminster, CO'
 'Louisville, CO' 'Highlands Ranch, CO' 'Lakewood, CO' 'Lone Tree, CO'
 'Washington, DC' 'Miami Lakes, FL' 'Saint Petersburg, FL' 'Miramar, FL'
 'Tampa, FL' 'Clearwater, FL' 'Fort Lauderdale, FL' 'Miami, FL' 'Largo, FL'
 'Plantation, FL' 'South Miami, FL' 'Coral Gables, FL' 'Brandon, FL'
 'Hollywood, FL' 'Coconut Grove, FL' 'Pinellas Park, FL' 'Atlanta, GA'
 'Sandy Springs, Fulton, GA' 'Stone Mountain, GA' 'Dunwoody, GA'
 'Duluth, GA' 'Alpharetta, GA' 'Smyrna, GA' 'Norcross, GA' 'Roswell, GA'
 'Doraville, GA' 'Kennesaw, GA' 'Johns Creek, GA' 'Chicago, IL'
 'Skokie, IL' 'Itasca, IL' 'Northbrook, IL' 'Oakbrook Terrace, IL'
 'Tinley Park, IL' 'Des Plaines, IL' 'Elmhurst, IL' 'Bridgeview, IL'
 'Downers Grove, IL' 'Lisle, IL' 'Burr Ridge, IL' 'Deerfield, IL'
 'Glenview, IL' 'Midlothian, IL' 'Westchester, IL' 'Bolingbrook, IL'
 'Addison, IL' 'Lombard, IL' 'Hammond, IN' 'Boston, MA' 'Wilmington, MA'
 'Waltham, MA' 'Cambridge, MA' 'Hanscom AFB, MA' 'Watertown, MA'
 'Woburn, MA' 'Burlington, MA' 'Bedford, MA' 'Norwood, MA' 'Lexington, MA'
 'Lowell, MA' 'Concord, MA' 'Framingham, MA' 'Somerville, MA' 'Quincy, MA'
 'Westford, MA' 'Danvers, MA' 'Medford, MA' 'Billerica, MA' 'Natick, MA'
 'Ipswich, MA' 'Andover, MA' 'Newton Center, MA' 'Bethesda, MD'
 'Rockville, MD' 'Silver Spring, MD' 'Columbia, MD' 'Jessup, MD'
 'Annapolis Junction, MD' 'Hyattsville, MD' 'Gaithersburg, MD'
 'Fort Meade, MD' 'Upper Marlboro, MD' 'Greenbelt, MD' 'College Park, MD'
 'Chevy Chase, MD' 'Newark, NJ' 'Short Hills, NJ' 'Parsippany, NJ'
 'Fort Lee, NJ' 'Jersey City, NJ' 'Iselin, NJ' 'East Hanover, NJ'
 'Chatham, NJ' 'Livingston, NJ' 'Ridgefield, NJ' 'Hoboken, NJ'
 'Rockleigh, NJ' 'New York, NY' 'Flushing, NY' 'Orangeburg, NY'
 'Yonkers, NY' 'Brooklyn, NY' 'Houston, TX' 'Austin, TX' 'Sugar Land, TX'
 'Cedar Park, TX' 'Pearland, TX' 'League City, TX' 'Webster, TX'
 'Spring, TX' 'Stafford, TX' 'Alexandria, VA' "Tyson's Corner, Fairfax, VA"
 'Arlington, VA' 'Herndon, VA' 'McLean, VA' 'Reston, VA' 'Fort Belvoir, VA'
 'Springfield, VA' 'Crystal City, VA' 'Chantilly, VA' 'Fairfax, VA'
 'Falls Church, VA' 'Mc Lean, VA' 'Seattle, WA' 'Renton, WA' 'Bellevue, WA'
 'Redmond, WA' 'Kirkland, WA' 'Bothell, WA' 'Kent, WA' 'Tukwila, WA'
 'Auburn, WA' 'Federal Way, WA' 'Mountlake Terrace, WA']

In [ ]:
print("HOW TO GET CITY INFORMATION")

In [ ]:
distinct_df.sort_values(Size)

In [ ]:
cities = ["boston","new-york","washington","san-jose","los-angeles","chicago","austin","huntsville","seattle","denver","san-francisco","miami","tampa","palo-alto","houston","atlanta"]
city_ids = [1154532,1132348,1138213,1147436,1146821,1128808,1139761,1127653,1150505,1148170,1147401,1154170,1154429,1147434,1140171,1155583 ]

In [ ]:
    for city_id in city_ids:
        for i in range(1,31):
            pass
#             print("https://www.glassdoor.com/Job/new-york-data-scientist-jobs-SRCH_IL.0,8_IC"+
#                   str(city_id)+
#                   "_KO9,23_IP"+
#                   str(i)+
#                   ".htm")

In [ ]:
x =[("https://www.glassdoor.com/Job/new-york-data-scientist-jobs-SRCH_IL.0,8_IC" + 
    str(city_id) +
    "_KO9,23_IP" +
    str(num) + 
    ".htm") for city_id in city_ids for num in range(1,31)]
# x
#[x for y in collection for x in y] # [A for B in C for D in E]
#for y in collection:     #      for B in C:
#    for x in y:          #          for D in E: (in this case: for A in B)
        # receive x      #              # receive A

In [ ]:
# [str(len(city)) for city in cities]
# [str(len(city)+14) for city in cities]

In [ ]:
cities = list(zip(cities,city_ids))
cities #this has the right line up
start_url = [("https://www.glassdoor.com/Job/"+
              # city name
              city[0]+
              # the job position we are looking for with some standard text. Start the search for the location at 0
              "-data-scientist-jobs-SRCH_IL.0,"+
              # and the last character for the city is the city length (including hyphens)
              str(len(city[0]))+
              # location code
              "_IC"+
              str(city[1])+
              "_KO"+
              # looking up the occupation search term which is 1 after the city length (doesn't include hyphen)
              str(len(city[0])+1)+
              ","+
              #and the job term ends 15 characters after "-data-scientist"
              str(len(city[0])+15)+
              "_IP"+
              #the page number we are looking for
              str(i) +
              #only pages 1 to 30 since pages 31+ don't exist on the website
              ".htm") for city in cities for i in range(1,31)]
start_url

cities[1][0]

#PROPER SAN JOSE: https://www.glassdoor.com/Job/san-jose-data-scientist-jobs-SRCH_IL.0,8_IC1147436_KO9,23_IP2.htm

In [ ]:
x = [url + "_KO9,23_IP" for url in x]
# x

In [ ]:
i = (range(1,31))
# [(url + str(num) + ".htm") for url in x for num in i]

In [ ]:
 seq_x = [1, 2, 3, 4]
seq_y = 'abc'
[(x,y) for x in seq_x for y in seq_y]
[(1, 'a'), 
 (1, 'b'), 
 (1, 'c'), 
 (2, 'a'), 
 (2, 'b'), 
 (2, 'c'), 
 (3, 'a'), 
 (3, 'b'), 
 (3, 'c'), 
 (4, 'a'), 
 (4, 'b'), 
 (4, 'c')]

In [ ]:
["https://www.glassdoor.com/Job/new-york-data-scientist-jobs-SRCH_IL.0,8_IC"+str(city_id)+"_KO9,23_IP"+str(i)+".htm" for city_id for i in range(1,31) for city_id in city_ids]

In [ ]:
if not all(item.values()):
	raise DropItem("Missing values!")